html,
body {
  margin: 0;
  padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
  }
  * {
    box-sizing: border-box;
  }

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin: auto;
    padding: 10px;
    margin-right: 50px;
    width: 10%;
    display: inline;
    text-decoration: none;
    color: #F5F5F5;
    text-align: center;
   background-color: purple;
   cursor:pointer;
}

.wrapper {
    background: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.buttonHolder {
    width: 80%;
    height: 190px;
    margin: 10px;
    padding: 5px;
    
    text-align: center;
}
