<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="../static/js/button.js"></script> -->
<script>

    // const socket = io.connect("http://127.0.0.1:5000");
    console.log("Test1")
    const socket = io.connect("0.0.0.0:8000");
    console.log("Test2")

    $(document).ready(function (){
    	console.log("Test3")
        socket.on('connect',function (){
        socket.emit('load_counter');
        });

        socket.on('receive_counter', function (data){
        	console.log("Test5")
             document.getElementById('counter').innerHTML = data;
        });

        $("#btn1").click(sendMessage);
        function sendMessage() {
        	console.log("Test4")
             socket.emit('button_click');
        }
    });

</script>
<body>
<h1>Everyone Click The Button!</h1>

<button type="button" id="btn1">Click Me!</button>
<p id="counter">0</p>
</body>
</html>
