<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatter Application</title>
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="../static/routing_page/styles/routingPageStyles.css">
</head>

<body>
<div class = "wrapper">
    <div class = "buttonHolder"> 
        <a class = "button" href = "/button">button</a>
        <a class = "button" href = "/dmroom">dmroom</a>
        <a class = "button" href = "/online">online</a>
    </div>

</div>
</body>

</html>